html, body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url('coding-background-a9u47jczuylhc9cw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
section {
    display: flex;
}
article {
    flex: 1;
}
.img {
    max-width: 100%; /* Prevent overflow */
    max-height: 100%;
    border-radius: 5px;
    margin: 5px;
}
.textual {
    border: 1px;
    display: inline;
}
.textual:hover{
    box-shadow: 5px 0px 25px white;
}
#footer {
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 0.7em;
    height: 10px;
    margin-top: -10px;
    clear: both;
}
h1 {
    color: orange;
    text-align: center;
    display: inline-block;
    font-size: clamp(1.5rem, 5vw, 3rem); /* min, preferred, max */
    padding: 2vh;
}
.project {
    color: white;
    background-color: rgb(55, 55, 135);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }  
   .container, ul, li {
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    padding: 1px;
   }
   li, .links {
    background-color: rgb(55, 55, 135);
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin: 0.3rem;
    font-size: clamp(14px, 2vw, 22px);
   }
   .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   }
   .zoomImage {
    display: block;
    margin: auto;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .zoomImage:hover {
    transform: scale(1.6);
   }
   .calculator {
    color: white;
    background-color: rgb(55, 55, 135);
   }

   .if {
    color: red;
   }
   #container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    min-height: 30vh;
    padding: 10px;
   }
   .sections {
    flex: 1;
    margin: 10px;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
   }
   .text {
    background-color: black;
    border: 1px solid limegreen;
    display: inline;
    padding: 2px 4px;
   }
   .img-text-container {
    display: inline-block;
   }
   .img-text-container img {
    width: 375px;
    height: 500px;
    float: left;
    margin-right: 15px;
   }
   .img-text-container-h3 {
    color: orange;
    font-size: 30px;
    text-align: left;
   }
   .img-text-container-word {
    font-size: 20px;
    background-color: black;
    border: 1px solid limegreen;
    display: flex;
    margin-top: 30px;
    margin-right: 40px;
   }
   /* Media query for screens smaller than 768px */
   @media (max-width: 768px) {
    p {
        font-size: 14px;
    }
   }
   /* Media query for screens between 768px and 992px */
   @media (min-width: 768px) and (max-width: 992px) {
    p {
        font-size: 18px;
     }
    }
    /* Media query for screens larger than 992px */
   @media (min-width: 992px) {
    p {
        font-size: 30px;
     }
    }