body {
    background-color: bisque;
    font-family: "Markazi Text, serif";
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.header-image {
    background-image: url('samplejewelry.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 400px;   
    margin-left: 180px;
}

.header-text {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
       background-color: #2b2d42;
       display: flex;
       flex-flow: row wrap;
       justify-content: space-evenly;
   }

   .container li {
      list-style-type: none;
   }

   .container a {
       display: inline-block;
       padding: 25px;
       margin: 0 25px;
       text-align: center;
       text-decoration: none;
       color: #ffffff;
   }
   .container a:hover {
       background-color: lightsteelblue;
   }

section {
    display: flex;
}

#h2 {
    color: orange;
}

#h3 {
    color: purple;
}

#h4 {
    color: goldenrod;
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}